/*
$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width 720px 8);
*/
html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  font-size: 16px; }

aside {
  height: 100%;
  width: 28.57143%;
  background: #666;
  float: left;
  position: relative;
  overflow: auto; }
  aside div {
    height: 50%; }
    aside div:nth-child(2n) {
      background: #474747; }

section {
  background: #222;
  width: 71.42857%;
  height: 100%;
  float: left;
  position: relative;
  text-align: center; }
  section:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.triangle {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 140px solid #FFF; }

/** Notes

Bourbon have a clearfix in bourbon/addons. just use @include clearfix;

**/
