aside {
	height: 100%;
	float: left;
	position: relative;
	overflow: auto;
	transition: width 1s ease-in-out;
	a {
		@include center-parent;
		height: 50%;
		display: block;
		color: $color-aside-font;
		background: $color-aside-background;
		text-transform: uppercase;
		&:hover {
			background: shade($color-aside-background, 15%);
		}
		&:active {
			background: shade($color-aside-background, 5%);
		}
		&:nth-child(2n){
			background: $color-aside-background-alt;
			&:hover {
				background: shade($color-aside-background-alt, 20%);
			}
			&:active {
				background: shade($color-aside-background-alt, 5%);
			}
	}
	}
}
header {
	@include center-parent;
	height: 20%;
	p {
		display: inline-block;
		vertical-align: middle;
		font-family: 'quicksandregular';
		@include scut-rem-fallback(28);
	}
}

aside::-webkit-scrollbar {
	display: none;
}

aside {
	overflow: hidden;
}
.scroll {
	width: 100%;
	height: 100%;
	overflow: auto;
	padding-right: 20px;
}
aside {
	a {
		margin-right: -20px;
	}
}