section:not(.new) {
	background: $color-section-background;
	//width: $right-width;
	height: 100%;
	float: left;
	position: relative;
	transition: width 1s ease-in-out;
	font-family: $font-ui;
	@include center-parent;
	&:hover{
		background: shade($color-section-background, 20%);
	}
}

span#horizontal-description {
	display: inline;
}
span#vertical-description {
	display: none;
}

@include vertical {
	span#horizontal-description {
	display: none;
	}
	span#vertical-description {
	display: inline;
	}
}
#mobilewarning {
	display: none;
	@include vertical-medium{
		display: inline;
	}
}


section {
	a {
		text-decoration: none;
		color: darken(#8c8b8b, 10%);
		border-bottom: 1px solid #8c8b8b;
		&:hover {
			color: lighten(#8c8b8b, 10%);
		}
		&:active {
			color: darken(#8c8b8b, 20%);
		}
	}
}

section.new {
	float: left;
	position: relative;
	transition: width 1s ease-in-out; 
	@include vertical{
		transition: height 1s ease-in-out;
	}
	overflow: scroll;
	background: #f2f2f2;
	.textwrap{
		@include rem(36,padding);
		z-index: 3;
		position: absolute;
	}
	p {
		font-family: $effra;
		font-weight: 300;
		@include rem(24);
		color: #8c8b8b;
		line-height: 1.5;
		@include rem(36, margin-bottom);
		@include rem(0 36, padding);
		@include vertical-small {
			@include rem(16);
			@include rem(0 8, padding);
		}
	}
}

/* have the numbers of the ratios at the
bottom, one on each side
so like: 1 : 2 for octave,
1 in aside / 2 in section
assign classes to the numbers
w/ javascript

.num-shown
transition: color .5s ease-in;
color: white
.num-hidden: 
background-color: (background color
	of parent);
	*/