section:not(.new) {
	background: $color-section-background;
	//width: $right-width;
	height: 100%;
	float: left;
	position: relative;
	transition: width 1s ease-in-out;
	font-family: $font-ui;
	@include center-parent;
	&:hover{
		background: shade($color-section-background, 20%);
	}
}

.triangle {
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-bottom: 100px solid transparent;
	border-left: 140px solid #FFF;
}

section {
	span {
		position: fixed;
		bottom: 2em;
		right: 2em;
		z-index: 3;
		color: white;
	}
}

svg.play, svg.pause {
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: absolute;
	top: 25%;
	left: 25%;
	right: 25%;
	opacity: .5;
}
svg.play {
	z-index: 1;
	display: none;
}
svg.pause {
	z-index: 2;
	display: none;
}

$int: 4;
//PX fallback
$b-font-size: 20px;
$b-line-height: $b-font-size*1.5;
$b-margin-top: $b-line-height;
$b-margin-bottom: $b-line-height;
$h-font-size: $b-font-size * $int;
$h-line-height: $b-line-height / ($b-font-size * $int);
$h-margin-top: #{$h-line-height}px;
$h-margin-bottom: #{$h-line-height}px;
//REM
$b-rem-font-size: 1.25rem;
$b-rem-line-height: $b-rem-font-size*1.5;
$b-rem-margin-top: $b-rem-line-height;
$b-rem-margin-bottom: $b-rem-line-height;
$h-rem-font-size: $b-rem-font-size * $int;
$h-rem-line-height: $b-rem-line-height / ($b-rem-font-size * $int);
$h-rem-margin-top: #{$h-rem-line-height}rem;
$h-rem-margin-bottom: #{$h-rem-line-height}rem;



section.new {
	float: left;
	position: relative;
	transition: width 1s ease-in-out; 
	@include vertical{
		transition: height 1s ease-in-out;
	}
	overflow: scroll;
	background: #f2f2f2;
	.textwrap{
		@include rem(36,padding);
		z-index: 3;
		position: absolute;
	}
	p {
		font-family: $effra;
		font-weight: 300;
		@include rem(24);
		color: #8c8b8b;
		line-height: 1.5;
		@include rem(36, margin-bottom);
		@include rem(0 36, padding);
	}
}

/* have the numbers of the ratios at the
bottom, one on each side
so like: 1 : 2 for octave,
1 in aside / 2 in section
assign classes to the numbers
w/ javascript

.num-shown
transition: color .5s ease-in;
color: white
.num-hidden: 
background-color: (background color
	of parent);
	*/