section {
	background: $color-section-background;
	//width: $right-width;
	height: 100%;
	float: left;
	position: relative;
	transition: width 1s ease-in-out;
	@include center-parent;
	&:hover{
		background: shade($color-section-background, 20%);
	}	
}

.triangle {
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-bottom: 100px solid transparent;
	border-left: 140px solid #FFF;
}