html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	font-size: 16px;
}
aside {
	height: 100%;
	width: $left-width;
	background: #666;
	float: left;
	position: relative;
	overflow: auto;
	div {
		height: 50%;
		&:nth-child(2n) {
			background: shade(#666, 30%)
		}
	}
}

// Adapted from css-tricks.com/centering-in-the-unknown
@mixin center-parent {
	text-align: center;
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	& > div {
		display: inline-block;
		vertical-align: middle;
	}
}

aside {
	div {
		@include center-parent;
	}
}

section {
	background: #222;
	width: $right-width;
	height: 100%;
	float: left;
	position: relative;
	@include center-parent;
}
.triangle {
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-bottom: 100px solid transparent;
	border-left: 140px solid #FFF;
}