{% block content %}
	<aside>
		<ul>
			<li class="octave active">octave</li>
			<li class="majortenth">major tenth</li>
			<li class="majoreleventh">major eleventh</li>
			<li class="majortwelth">major twelth</li>
		</ul>
	</aside>
	<section>
		<h1 class="chord-name">octave</h1>
	</section>
{% endblock %}