{% block content %}
	
	<!--		<div class="svg-container"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="36.715px" height="31.377px" viewBox="0 0 36.715 31.377" enable-background="new 0 0 36.715 31.377" xml:space="preserve" class="bolt">
<g>
	<polyline fill="#B7B7B7" points="9.531,31.375 0,15.686 8.826,-0.001 27.184,0 	"/>
	<polyline fill="#CCCCCC" points="27.184,0 36.715,15.69 27.889,31.377 9.531,31.375 	"/>
</g>
</svg></div> -->
	<aside>
		<div class="scroll">
		<header>
		<h1><span>Modular</span><br><span>Tone</span></h1>
		</header>
		<a href="#" class="interval" data-interval-class="minorsecond"><div><span>Minor Second</div></span></a><!--

        --><a href="#" class="interval" data-interval-class="majorsecond"><div><span>Major Second</span></div></a><!--

        --><a href="#" class="interval" data-interval-class="minorthird"><div><span>Minor Third</span></div></a><!--

		--><a href="#" class="interval" data-interval-class="majorthird"><div><span>Major Third</span></div></a><!--

        --><a href="#" class="interval" data-interval-class="perfectfourth"><div><span>Perfect Fourth</span></div></a><!--

        --><a href="#" class="interval" data-interval-class="augfourthdimfifth"><div><span>Aug. Fourth / Dim. Fifth</span></div></a><!--

        --><a href="#" class="interval" data-interval-class="perfectfifth"><div><span>Perfect Fifth</span></div></a><!--

		--><a href="#" class="interval" data-interval-class="minorsixth"><div><span>Minor Sixth</span></div></a><!--

        --><a href="#" class="interval" data-interval-class="goldensection"><div><span>Golden Section</span></div></a><!--

        --><a href="#" class="interval" data-interval-class="majorsixth"><div><span>Major Sixth</span></div></a><!--

        --><a href="#" class="interval" data-interval-class="minorseventh"><div><span>Minor Seventh</span></div></a><!--

		--><a href="#" class="interval" data-interval-class="majorseventh"><div><span>Major Seventh</span></div></a><!--

        --><a href="#" class="interval" data-interval-class="octave"><div><span>Octave</span></div></a><!--

        --><a href="#" class="interval" data-interval-class="majortenth"><div><span>Major Tenth</span></div></a><!--

        --><a href="#" class="interval" data-interval-class="majoreleventh"><div><span>Major Eleventh</span></div></a><!--

		--><a href="#" class="interval" data-interval-class="majortwelfth"><div><span>Major Twelfth</span></div></a><!--

		--><a href="#" class="interval" data-interval-class="doubleoctave"><div><span>Double Octave</span></div></a>
	</div>
		</aside>

	<section class="new">


		<div class="textwrap">
		<p>This project attempts to illustrate the connection between the scales commonly used  in art and design and the musical intervals which inspire those scales.</p>
		<p>Confused? Consider an octave. The A note above middle C has a frequency of 440hz; the next A note above that has a frequency of 880hz. The ratio of these frequencies, and of every octave interval, is 1:2.</p>
		<p>Every musical interval can be represented by a ratio, such as 1:2, and every ratio can in turn be represented visually, by, in this case, the proportions of this website.</p>
		<p>Our insipiration: modularscale.com and Robert Bringhurst’s “Elements of Typographic Style.”</p>
	</div>
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="174px" height="203px" viewBox="0 0 174 203" enable-background="new 0 0 174 203" xml:space="preserve" class="pause">
			<rect fill="#D3D3D3" width="67" height="203"/>
			<rect x="107" fill="#D3D3D3" width="67" height="203"/>
		</svg>
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="135.826px" height="202.864px" viewBox="0 0 135.826 202.864" enable-background="new 0 0 135.826 202.864"xml:space="preserve" class="play">
			<polygon fill="#D3D3D3" points="0,-0.062 135.826,101.401 0,202.864 "/>
		</svg>
	</section>

{% endblock %}
