{% block content %}
	<aside>
        <div>test 1<a href="#" data-interval-class="octave">Octave</a></div>
		<div>test 2<a href="#" data-interval-class="fifth">Fifth</a></div>
		<div>test 3</div>
		<div>test 4</div>
		<div>test 5</div>
	</aside>
	<section>
		<h1 class="chord-name">octave</h1>
	</section>
{% endblock %}
