{% block content %}
	<aside>
		<header><p>modular tone. <br>inspired by modularscale.com.</p></header>
		<a href="#" data-interval-class="minorsecond"><div><span>Minor Second</div></span></a>

        <a href="#" data-interval-class="majorsecond"><div><span>Major Second</span><span></span></div></a>

        <a href="#" data-interval-class="minorthird"><div><span>Minor Third</span></div></a>

		<a href="#" data-interval-class="majorthird"><div><span>Major Third</span></div></a>

        <a href="#" data-interval-class="perfectfourth"><div><span>Perfect Fourth</span></div></a>

        <a href="#" data-interval-class="augfourthdimfifth"><div><span>Aug. Fourth / Dim. Fifth</span></div></a>

        <a href="#" data-interval-class="perfectfifth"><div><span>Perfect Fifth</span></div></a>

		<a href="#" data-interval-class="minorsixth"><div><span>Minor Sixth</span></div></a>

        <a href="#" data-interval-class="goldensection"><div><span>Golden Section</span></div></a>

        <a href="#" data-interval-class="majorsixth"><div><span>Major Sixth</span></div></a>

        <a href="#" data-interval-class="minorseventh"><div><span>Minor Seventh</span></div></a>

		<a href="#" data-interval-class="majorseventh"><div><span>Major Seventh</span></div></a>

        <a href="#" data-interval-class="octave"><div><span>Octave</span></div></a>

        <a href="#" data-interval-class="majortenth"><div><span>Major Tenth</span></div></a>

        <a href="#" data-interval-class="majoreleventh"><div><span>Major Eleventh</span></div></a>

		<a href="#" data-interval-class="majortwelfth"><div><span>Major Twelfth</span></div></a>

		<a href="#" data-interval-class="doubleoctave"><div><span>Double Octave</span></div></a>

	</aside>
	<section>
		<div class="triangle"></div>
		<span>1 : 4</span>
	</section>
{% endblock %}
