{% block content %}
	<aside>
		<div>test 1</div>
		<div>test 2</div>
		<div>test 3</div>
		<div>test 4</div>
		<div>test 5</div>
	</aside>
	<section>
		<h1 class="chord-name">octave</h1>
	</section>
{% endblock %}