{% block content %}
	
	<aside>
		<div class="scroll">
            <header>
            	<img src="assets/img/logo.svg">
            </header> 
            <!-- cuddling our intervals with HTML comments ensures that
                 no spaces screw up the inline-blocks
            {% for interval in model.intervals %}
                --><a href="#" class="interval" data-interval-class="{{ interval.class }}"><div><span class="display-text">{{ interval.display_text }}</span></div><span class="icon icon-play"></span></a><!--
            {% endfor %}
            -->
        </div>
    </aside>

	<section class="new">


		<div class="textwrap">
		<p>This project attempts to illustrate the connection between the scales commonly used  in art and design and the musical intervals which inspire those scales.</p>
		<p>Confused? Consider an octave. The A note above middle C has a frequency of 440hz; the next A note above that has a frequency of 880hz. The ratio of these frequencies, and of every octave interval, is 1:2.</p>
		<p>Every musical interval can be represented by a ratio, such as 1:2, and every ratio can in turn be represented visually, by, in this case, the proportions of this website.</p>
		<p>Our insipiration: modularscale.com and Robert Bringhurst’s “Elements of Typographic Style.”</p>
	</div>
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="174px" height="203px" viewBox="0 0 174 203" enable-background="new 0 0 174 203" xml:space="preserve" class="pause">
			<rect fill="#D3D3D3" width="67" height="203"/>
			<rect x="107" fill="#D3D3D3" width="67" height="203"/>
		</svg>
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="135.826px" height="202.864px" viewBox="0 0 135.826 202.864" enable-background="new 0 0 135.826 202.864"xml:space="preserve" class="play">
			<polygon fill="#D3D3D3" points="0,-0.062 135.826,101.401 0,202.864 "/>
		</svg>
	</section>

{% endblock %}
