@mixin center-parent {
	text-align: center;
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	& > div {
		display: inline-block;
		vertical-align: middle;
	}
}
@mixin vertical{
	@media (max-width: 1000px) {@content;}
}
@mixin vertical-medium{
	@media (max-width: 750px) {@content;}
}
@mixin vertical-small{
	@media (max-width: 500px) {@content;}
}
