// 1-6
//	1: 100
//  2: 300
// 3: 400
// 4: 500
// 5: 700
// 6: 900
//

@mixin brandon($weight) {
	font-family: $font-header;
	@if $weight==1{
		font-weight: 100;
	}
	@else if $weight==2{
		font-weight: 300;
	}
	@else if $weight==3{
		font-weight: 400;
	}
	@else if $weight==4{
		font-weight: 500;
	}
	@else if $weight==5 {
		font-weight: 700;
	}
	@else if $weight==6{
		font-weight: 900;
	}				
	@else {
		font-weight: 300;
	}
}